$app-mobile-width: 420px;
$app-primary-btn-bg-color: #58C19C;
$app-danger-btn-bg-color: #ea5455;
$app-disabled-btn-bg-color: #eeeff1;
$app-disabled-btn-color: #bfbfbf;
$app-btn-color: #fff;
$app-primary-select-color: #58C19C;

@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  src: url("../fonts/Oxygen-Light.ttf");
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 400;
  src: url("../fonts/Oxygen-Regular.ttf");
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 700;
  src: url("../fonts/Oxygen-Bold.ttf");
}

@font-face {
  font-family: 'Teko';
  font-weight: 500;
  src: url("../fonts/Teko-Medium.ttf");
}

* {
  font-family: Oxygen, serif;

  &:focus, &:active {
    outline: none !important;
    -webkit-box-shadow: none;
  }
}

html, body {
  height: 100%;
}

.main-page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  color: $app-btn-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    background-color: $app-primary-btn-bg-color;
  }

  &.danger {
    background-color: $app-danger-btn-bg-color;
  }

  &.disabled {
    background-color: $app-disabled-btn-bg-color;
    color: $app-disabled-btn-color;
  }
}

textarea {
  color: #808080;
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 15px;
  resize: none !important;
  border: 1px solid #eeeff1;
  box-sizing: border-box;
  border-radius: 6px;
}

.subheader {
  margin: 20px 0;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #808080;
  text-align: center;
}

.popup-header {
  text-align: center;
  font-family: Teko, serif;
  font-weight: 500;
  color: #202020;
  font-size: 40px;
  line-height: 100%;
  padding: 30px 0;

  @media screen and (max-width: $app-mobile-width) {
    padding: 15px;
  }
}

.popup-footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  .button {
    width: 100%;
  }
}

.evaluate-plan-container {
  margin-bottom: 20px;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    padding: 15px;
    border: 1px solid #eeeff1;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
    &.selected {
      border: 2px solid #58c19c;
      padding: 13px;
    }

    .icon {
      margin-right: 15px;

      img {
        //
      }
    }

    .info {
      .name {
        display: flex;
        font-weight: 700;
      }
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #202020;
        opacity: 0.6;
      }
    }

    .input-container {
      position: absolute;
      right: 15px;
      top: 35%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        display: none;

        &:checked {
          & + .checkmark {
            content: url("/images/complete-small-icon.png");
            border: none;
          }
        }
      }

      .checkmark {
        display: block;
        border: 2px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 100%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.how-do-you-feel-container {
  .select-tags-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    @media screen and (max-width: $app-mobile-width) {
      justify-content: flex-start;
    }

    .item {
      margin-right: 8px;
      margin-bottom: 8px;
      color: #9F9F9F;
      background-color: #F8F8F8;
      border-radius: 27px;

      input {
        display: none;

        &:checked {
          & + label {
            border: 2px solid #58C19C;
            padding: 6px 13px 8px;
          }
        }
      }

      label {
        padding: 8px 15px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        border-radius: 27px;
        cursor: pointer;
      }

      .icon {
        margin-right: 5px;
      }

      .name {
        padding-top: 2px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .select-tags-input-group-container {
    label {
      display: block;
      color: #202020;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }

    textarea {
      display: block;
      width: 100%;
    }
  }
}

.current-weight-container {
  .current-weight-input-group-container {
    .current-weight-input-container {
      padding: 0;
      position: relative;
      display: flex;
      justify-content: center;

      .current-weight-input-inner-container {
        width: 118px;
        position: relative;

        input {
          display: block;
          width: 100%;
          padding: 0;
          border: none;
          text-align: center;

          font-family: Teko, serif;
          font-weight: 400;
          font-size: 96px;
          line-height: 138px;
          caret-color: #ea5455;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .weight-meter {
          position: absolute;
          bottom: 0;
          right: 0;
          font-family: Teko, serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #808080;
        }
      }
    }
  }
}

.consult-with-coach-container {
  .coach-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;
    border-radius: 6px;
    padding: 45px 0 10px;
    margin-bottom: 20px;

    .avatar {
      position: absolute;
      top: -35px;
    }

    .title {
      text-transform: uppercase;
      font-weight: 700;
      color: #ea5455;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0.06em;
    }

    .name {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    .rank {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: #808080;
    }

    .conclusion-container {
      margin-top: 10px;
      width: 70%;

      .get-conclusion-button {
        width: 100%;
      }

      .price-description {
        margin-top: 5px;
        color: #808080;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.04em;
      }
    }
  }

  .coach-question-container {
    textarea {
      width: 100%;
      color: #808080;

      &.disabled {
        &::placeholder {
          color: #9F9F9F;
        }

        background-color: #f8f8f8;
      }
    }
  }
}

.complete-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;

  @media screen and (max-width: $app-mobile-width) {
    padding: 25% 0;
  }

  .title {
    font-family: Teko, serif;
    font-weight: 500;
    color: #58c19c;
    font-size: 40px;
    letter-spacing: 0.04em;
  }
  .icon {
    margin: 10px 0 20px;
  }
  .description {
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #808080;
    font-weight: 400;
    margin-bottom: 80px;
  }
}

.popup-container {
  text-align: center;

  .body {
    padding: 0;
  }

  .popup-inner-container {
    @media screen and (max-width: $app-mobile-width) {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .popup-content {
    border-radius: 20px;

    @media screen and (max-width: $app-mobile-width) {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }

    .close {
      position: absolute;
      top: 25px;
      right: 25px;

      @media screen and (max-width: $app-mobile-width) {
        margin-bottom: 20%;
        top: 2%;
        left: 5%;
      }

    }
  }

  .footer {
    justify-content: center;
  }
}

#stepper {
  .stepper-header {
    display: block;

    @media screen and (max-width: $app-mobile-width) {
      .stepper-header-inner-container {
        display: flex;
        flex-direction: column-reverse;
      }
    }


    .step {
      display: none;

      &.active {
        display: block;
      }

      .step-trigger {
        display: none;
      }
    }
  }

  .stepper-content {
    padding: 80px 0 35px;
  }
}

.progress-container {
  position: relative;

  @media screen and (max-width: $app-mobile-width) {
    margin-bottom: 20%;
  }

  .progress {
    height: 4px;
    background-color: #eeeff1;

    .progress-bar {
      background-color: #ea5455;
      height: 4px;
    }
  }

  .runner-icon {
    left: 0;
    top: 30px;
    position: absolute;

    @media screen and (max-width: $app-mobile-width) {
      top: 20px;
    }
  }
}
